{% extends "base.html" %}

{% block content %}

    <h3>tarot study</h3>
    
    <p>I've spent many years studying the tarot, and while I love the complexity of the decks inspired by <a href="https://en.wikipedia.org/wiki/Antoine_Court_de_G%C3%A9belin" target="_new">Antoinne Court</a> and his successors I humbly suggest that you don't need to be an expert in qabalah, astrology or alchemy to learn the tarot. One might even speculate that the cards were designed the way they are so that you <em>don't</em> need to know all that stuff 🙂.</p>

    <p>So, the first thing is to get your own tarot deck. The choice of deck is really a personal one - what works for you? My journey started with <a href="https://en.wikipedia.org/wiki/Rider%E2%80%93Waite_tarot_deck" target="_new">Waite-Smith</a>, then Paul Case's <a href="https://en.wikipedia.org/wiki/B.O.T.A._tarot_deck" target="_new">B.O.T.A. version</a>, then of course <a href="https://en.wikipedia.org/wiki/Thoth_tarot_deck" target="_new">Crowley and Harris's epic deck</a>. These days I've gone back to basics with Marseille tarot - specifically the late Jean-Claude Flornoy's lovely restorations of the tarots of <a href="https://gallica.bnf.fr/ark:/12148/btv1b105109641/f43.item" target="new">Jean Noblet</a> and <a href="https://gallica.bnf.fr/ark:/12148/btv1b10537343h/f151.item.r=jean%20dodal" target="new">Jean Dodal</a> - you can get them from his website <a href="https://tarot-history.com" target="new">Tarot History</a>.</p>
    
    <p>I suggest that you start by simply looking at each card. Take your time. Learn each image so well that you can draw it in detail on a blank piece of paper. Consider the posture and gestures of the figures in the trumps and court cards, and the arrangement and decorations of the symbols in the cards of the four suits. Lay the cards out in rows and columns, by suits and by numbers, and look for relationships. Let these images tell you their story. Allow each image to become a part of you, to live in your consciousness.</p>
    
    <p>Happy travels!</p>

    <h3>trumps (or majors, keys, atus)</h3>
    <p>the journey of the soul</p>
    <ul>
        <li><a href="/one-card/the_magician">The Magician</a></li>
        <li><a href="/one-card/the_popess">The Popess</a></li>
        <li><a href="/one-card/the_empress">The Empress</a></li>
        <li><a href="/one-card/the_emperor">The Emperor</a></li>
        <li><a href="/one-card/the_pope">The Pope</a></li>
        <li><a href="/one-card/the_lover">The Lover</a></li>
        <li><a href="/one-card/the_chariot">The Chariot</a></li>
        <li><a href="/one-card/justice">Justice</a></li>
        <li><a href="/one-card/the_hermit">The Hermit</a></li>
        <li><a href="/one-card/the_wheel_of_fortune">The Wheel of Fortune</a></li>
        <li><a href="/one-card/strength">Strength</a></li>
        <li><a href="/one-card/the_hanged_man">The Hanged Man</a></li>
        <li><a href="/one-card/13">13</a></li>
        <li><a href="/one-card/temperance">Temperance</a></li>
        <li><a href="/one-card/the_devil">The Devil</a></li>
        <li><a href="/one-card/the_house_of_god">The House of God</a></li>
        <li><a href="/one-card/the_star">The Star</a></li>
        <li><a href="/one-card/the_moon">The Moon</a></li>
        <li><a href="/one-card/the_sun">The Sun</a></li>
        <li><a href="/one-card/judgement">Judgement</a></li>
        <li><a href="/one-card/the_world">The World</a></li>
        <li><a href="/one-card/the_fool">The Fool</a></li>
    </ul>



    <h3>disks (or pentacles, coins, diamonds)</h3>
    <p>the body - material matters</p>
    <ul>
        <li><a href="/one-card/ace_of_disks">Ace of Disks</a></li>
        <li><a href="/one-card/two_of_disks">Two of Disks</a></li>
        <li><a href="/one-card/three_of_disks">Three of Disks</a></li>
        <li><a href="/one-card/four_of_disks">Four of Disks</a></li>
        <li><a href="/one-card/five_of_disks">Five of Disks</a></li>
        <li><a href="/one-card/six_of_disks">Six of Disks</a></li>
        <li><a href="/one-card/seven_of_disks">Seven of Disks</a></li>
        <li><a href="/one-card/eight_of_disks">Eight of Disks</a></li>
        <li><a href="/one-card/nine_of_disks">Nine of Disks</a></li>
        <li><a href="/one-card/ten_of_disks">Ten of Disks</a></li>
        <li><a href="/one-card/page_of_disks">Page of Disks</a></li>
        <li><a href="/one-card/knight_of_disks">Knight of Disks</a></li>
        <li><a href="/one-card/queen_of_disks">Queen of Disks</a></li>
        <li><a href="/one-card/king_of_disks">King of Disks</a></li>
    </ul>

    <h3>clubs (or wands)</h3>
    <p>the creative urge - sex</p>
    <ul>
        <li><a href="/one-card/ace_of_clubs">Ace of Clubs</a></li>
        <li><a href="/one-card/two_of_clubs">Two of Clubs</a></li>
        <li><a href="/one-card/three_of_clubs">Three of Clubs</a></li>
        <li><a href="/one-card/four_of_clubs">Four of Clubs</a></li>
        <li><a href="/one-card/five_of_clubs">Five of Clubs</a></li>
        <li><a href="/one-card/six_of_clubs">Six of Clubs</a></li>
        <li><a href="/one-card/seven_of_clubs">Seven of Clubs</a></li>
        <li><a href="/one-card/eight_of_clubs">Eight of Clubs</a></li>
        <li><a href="/one-card/nine_of_clubs">Nine of Clubs</a></li>
        <li><a href="/one-card/ten_of_clubs">Ten of Clubs</a></li>
        <li><a href="/one-card/page_of_clubs">Page of Clubs</a></li>
        <li><a href="/one-card/knight_of_clubs">Knight of Clubs</a></li>
        <li><a href="/one-card/queen_of_clubs">Queen of Clubs</a></li>
        <li><a href="/one-card/king_of_clubs">King of Clubs</a></li>
    </ul>

    <h3>cups (or hearts)</h3>
    <p>the heart - love</p>
    <ul>
        <li><a href="/one-card/ace_of_cups">Ace of Cups</a></li>
        <li><a href="/one-card/two_of_cups">Two of Cups</a></li>
        <li><a href="/one-card/three_of_cups">Three of Cups</a></li>
        <li><a href="/one-card/four_of_cups">Four of Cups</a></li>
        <li><a href="/one-card/five_of_cups">Five of Cups</a></li>
        <li><a href="/one-card/six_of_cups">Six of Cups</a></li>
        <li><a href="/one-card/seven_of_cups">Seven of Cups</a></li>
        <li><a href="/one-card/eight_of_cups">Eight of Cups</a></li>
        <li><a href="/one-card/nine_of_cups">Nine of Cups</a></li>
        <li><a href="/one-card/ten_of_cups">Ten of Cups</a></li>
        <li><a href="/one-card/page_of_cups">Page of Cups</a></li>
        <li><a href="/one-card/knight_of_cups">Knight of Cups</a></li>
        <li><a href="/one-card/queen_of_cups">Queen of Cups</a></li>
        <li><a href="/one-card/king_of_cups">King of Cups</a></li>
    </ul>

    <h3>swords (or spades)</h3>
    <p>the mind - intellect<ul>
        <li><a href="/one-card/ace_of_swords">Ace of Swords</a></li>
        <li><a href="/one-card/two_of_swords">Two of Swords</a></li>
        <li><a href="/one-card/three_of_swords">Three of Swords</a></li>
        <li><a href="/one-card/four_of_swords">Four of Swords</a></li>
        <li><a href="/one-card/five_of_swords">Five of Swords</a></li>
        <li><a href="/one-card/six_of_swords">Six of Swords</a></li>
        <li><a href="/one-card/seven_of_swords">Seven of Swords</a></li>
        <li><a href="/one-card/eight_of_swords">Eight of Swords</a></li>
        <li><a href="/one-card/nine_of_swords">Nine of Swords</a></li>
        <li><a href="/one-card/ten_of_swords">Ten of Swords</a></li>
        <li><a href="/one-card/page_of_swords">Page of Swords</a></li>
        <li><a href="/one-card/knight_of_swords">Knight of Swords</a></li>
        <li><a href="/one-card/queen_of_swords">Queen of Swords</a></li>
        <li><a href="/one-card/king_of_swords">King of Swords</a></li>
    </ul>


{% endblock %}
