{% extends "base.html" %}

{% block content %}

    <h3>All the cards</h3>

    <ul>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
        <li><a href="/one-card/">name</a></li>
    </ul>


{% endblock %}