{% extends "base.html" %}

{% block content %}

    <h3>major arcana</h3>
    <ul>
        <li><a href="/one-card/the_fool">Key 0 - The Fool</a></li>
        <li><a href="/one-card/the_magician">Key 1 - The Magician</a></li>
        <li><a href="/one-card/the_high_priestess">Key 2 - The High Priestess</a></li>
        <li><a href="/one-card/the_empress">Key 3 - The Empress</a></li>
        <li><a href="/one-card/the_emperor">Key 4 - The Emperor</a></li>
        <li><a href="/one-card/the_hierophant">Key 5 - The Hierophant</a></li>
        <li><a href="/one-card/the_lovers">Key 6 - The Lovers</a></li>
        <li><a href="/one-card/the_chariot">Key 7 - The Chariot</a></li>
        <li><a href="/one-card/strength">Key 8 - Strength</a></li>
        <li><a href="/one-card/the_hermit">Key 9 - The Hermit</a></li>
        <li><a href="/one-card/the_wheel_of_fortune">Key 10 - The Wheel of Fortune</a></li>
        <li><a href="/one-card/justice">Key 11 - Justice</a></li>
        <li><a href="/one-card/the_hanged_man">Key 12 - The Hanged Man</a></li>
        <li><a href="/one-card/death">Key 13 - Death</a></li>
        <li><a href="/one-card/temperance">Key 14 - Temperance</a></li>
        <li><a href="/one-card/the_devil">Key 15 - The Devil</a></li>
        <li><a href="/one-card/the_blasted_tower">Key 16 - The Blasted Tower</a></li>
        <li><a href="/one-card/the_star">Key 17 - The Star</a></li>
        <li><a href="/one-card/the_moon">Key 18 - The Moon</a></li>
        <li><a href="/one-card/the_sun">Key 19 - The Sun</a></li>
        <li><a href="/one-card/judgement">Key 20 - Judgement</a></li>
        <li><a href="/one-card/the_world">Key 21 - The World</a></li>
    </ul>
    <h3>wands</h3>
    <ul>
        <li><a href="/one-card/king_of_wands">King of Wands</a></li>
        <li><a href="/one-card/queen_of_wands">Queen of Wands</a></li>
        <li><a href="/one-card/knight_of_wands">Knight of Wands</a></li>
        <li><a href="/one-card/page_of_wands">Page of Wands</a></li>
        <li><a href="/one-card/ace_of_wands">Ace of Wands</a></li>
        <li><a href="/one-card/two_of_wands">Two of Wands</a></li>
        <li><a href="/one-card/three_of_wands">Three of Wands</a></li>
        <li><a href="/one-card/four_of_wands">Four of Wands</a></li>
        <li><a href="/one-card/five_of_wands">Five of Wands</a></li>
        <li><a href="/one-card/six_of_wands">Six of Wands</a></li>
        <li><a href="/one-card/seven_of_wands">Seven of Wands</a></li>
        <li><a href="/one-card/eight_of_wands">Eight of Wands</a></li>
        <li><a href="/one-card/nine_of_wands">Nine of Wands</a></li>
        <li><a href="/one-card/ten_of_wands">Ten of Wands</a></li>
    </ul>
    <h3>cups</h3>
    <ul>
        <li><a href="/one-card/king_of_cups">King of Cups</a></li>
        <li><a href="/one-card/queen_of_cups">Queen of Cups</a></li>
        <li><a href="/one-card/knight_of_cups">Knight of Cups</a></li>
        <li><a href="/one-card/page_of_cups">Page of Cups</a></li>
        <li><a href="/one-card/ace_of_cups">Ace of Cups</a></li>
        <li><a href="/one-card/two_of_cups">Two of Cups</a></li>
        <li><a href="/one-card/three_of_cups">Three of Cups</a></li>
        <li><a href="/one-card/four_of_cups">Four of Cups</a></li>
        <li><a href="/one-card/five_of_cups">Five of Cups</a></li>
        <li><a href="/one-card/six_of_cups">Six of Cups</a></li>
        <li><a href="/one-card/seven_of_cups">Seven of Cups</a></li>
        <li><a href="/one-card/eight_of_cups">Eight of Cups</a></li>
        <li><a href="/one-card/nine_of_cups">Nine of Cups</a></li>
        <li><a href="/one-card/ten_of_cups">Ten of Cups</a></li>
    </ul>
    <h3>swords</h3>
    <ul>
        <li><a href="/one-card/king_of_swords">King of Swords</a></li>
        <li><a href="/one-card/queen_of_swords">Queen of Swords</a></li>
        <li><a href="/one-card/knight_of_swords">Knight of Swords</a></li>
        <li><a href="/one-card/page_of_swords">Page of Swords</a></li>
        <li><a href="/one-card/ace_of_swords">Ace of Swords</a></li>
        <li><a href="/one-card/two_of_swords">Two of Swords</a></li>
        <li><a href="/one-card/three_of_swords">Three of Swords</a></li>
        <li><a href="/one-card/four_of_swords">Four of Swords</a></li>
        <li><a href="/one-card/five_of_swords">Five of Swords</a></li>
        <li><a href="/one-card/six_of_swords">Six of Swords</a></li>
        <li><a href="/one-card/seven_of_swords">Seven of Swords</a></li>
        <li><a href="/one-card/eight_of_swords">Eight of Swords</a></li>
        <li><a href="/one-card/nine_of_swords">Nine of Swords</a></li>
        <li><a href="/one-card/ten_of_swords">Ten of Swords</a></li>
    </ul>
    <h3>pentacles</h3>
    <ul>
        <li><a href="/one-card/king_of_pentacles">King of Pentacles</a></li>
        <li><a href="/one-card/queen_of_pentacles">Queen of Pentacles</a></li>
        <li><a href="/one-card/knight_of_pentacles">Knight of Pentacles</a></li>
        <li><a href="/one-card/page_of_pentacles">Page of Pentacles</a></li>
        <li><a href="/one-card/ace_of_pentacles">Ace of Pentacles</a></li>
        <li><a href="/one-card/two_of_pentacles">Two of Pentacles</a></li>
        <li><a href="/one-card/three_of_pentacles">Three of Pentacles</a></li>
        <li><a href="/one-card/four_of_pentacles">Four of Pentacles</a></li>
        <li><a href="/one-card/five_of_pentacles">Five of Pentacles</a></li>
        <li><a href="/one-card/six_of_pentacles">Six of Pentacles</a></li>
        <li><a href="/one-card/seven_of_pentacles">Seven of Pentacles</a></li>
        <li><a href="/one-card/eight_of_pentacles">Eight of Pentacles</a></li>
        <li><a href="/one-card/nine_of_pentacles">Nine of Pentacles</a></li>
        <li><a href="/one-card/ten_of_pentacles">Ten of Pentacles</a></li>

{% endblock %}