<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title if title else 'The Tarot' }}</title>
    <link href="/static/css/base.css" rel="stylesheet" />
    <link href="/static/css/spread.css" rel="stylesheet" />
    <link href="/static/css/card.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/1-card-spread">Draw a card</a>
      <a href="/3-card-spread">Draw a 3 card spread</a>
      <a href="/5-card-spread">Draw a 5 card spread</a>
    </nav>

    <div class="main-content">{% block content %}{% endblock %}</div>
  </body>
</html>
