{% extends "base.html" %}

{% block content %}

    <h3>Welcome to the Tarot</h3>

    <p>This is a simple web application written in Python to draw one or more randomly selected cards from the deck of 72 Tarot cards.</p>

    <p><a href="/one-card">draw one random card</a>
    <br />(the present)</p>

    <p><a href="/three-cards">draw three random cards</a>
    <br />(the past, present and future)</p>

    <p>The card images used are Arthur Waite's deck, by artist Pamela Colman Smith. <a href="https://en.wikipedia.org/wiki/Rider-Waite_tarot_deck">According to Wikipedia</a> they are out of copyright in the US now and will be in the UK in 2022.</p>

    <p><a href="https://github.com/jeremytarling/python-tarot">The source code to this app is here</a> - please feel free to fork or re-use, there are no license restrictions.</p> 

    <p><a href="https://twitter.com/jeremytarling">@jeremytarling</a></p>

{% endblock %}