{% extends "base.html" %}

{% block content %}

    <h2>Welcome to the Tarot!</h2>

    <p>Having trouble making a decision? Worried about the future? Concerned that secret forces are controlling your destiny? Then it's time to consult the Tarot..</p>

	<hr />

    <h4>Think about your question and chose one or three cards:</h4>

    <p><strong><a href="/one-card">draw one random card</a></strong>
        <br />(the answer to your question)</p>

    <p><strong><a href="/three-cards">draw three random cards</a></strong>
    <br />(the past, present and future of the matter)</p>

    <hr />

    <p><strong><a href="/all-cards">list all the cards</a></strong>
        <br />the tarot is much more than a divinatory tool</p>

	<hr />

    <h4>WTF?</h4>

    <p>This little website is a simple application written in Python to draw one or three randomly selected tarot cards from a dictionary of 72 descriptions and image references. <a href="https://github.com/jeremytarling/python-tarot">The source code to this app is here</a> - please feel free to fork or re-use, there are no license restrictions.</p>

    <p>The tarot images are <a href="http://www.cbdtarot.com/download/" target="_new">Yoav Ben Dov's</a> restoration of <a href="https://gallica.bnf.fr/ark:/12148/btv1b10520316w?rk=42918;4" target="_new">Nicholas Conver's deck</a> from 1760. For deeper study of the images I suggest <a href="https://tarot-history.com/" target="new">Jean-Claude Flornoy's</a> restorations of the tarots of <a href="https://gallica.bnf.fr/ark:/12148/btv1b105109641/f43.item" target="new">Jean Noblet</a> or <a href="https://gallica.bnf.fr/ark:/12148/btv1b10537343h/f151.item.r=jean%20dodal" target="new">Jean Dodal</a>, the work of true masters.</p>

    <p>As for me, my name is <a href="https://linktr.ee/jeremytarling">Jeremy Tarling</a> and I work as a metadata specialist at the BBC. I've been fascinated by the tarot since childhood when my aunty first introduced me to the cards.</p>

{% endblock %}
