{% extends "base.html" %}

{% block content %}

    <h3>Welcome to the Tarot...</h3>

    <p>Having trouble making a decision? Worried about the future? Concerned that secret forces are controlling your destiny? Then it's time to consult the Tarot...</p>

    <p>Think about your question and chose one or three cards:</p>

    <p><a href="/one-card">draw one random card</a>
    <br />(the present)</p>

    <p><a href="/three-cards">draw three random cards</a>
    <br />(the past, the present and the future)</p>

    <p><a href="/all-cards">list all the cards</a>

	<hr />

    <p>This is a simple web application written in Python to draw one or more randomly selected cards from a dictionary (hash) of 72 Tarot card description and image references.</p>

    <p>The card images used are Arthur Waite's deck, by artist Pamela Colman Smith. <a href="https://en.wikipedia.org/wiki/Rider-Waite_tarot_deck">According to Wikipedia</a> they are out of copyright in the US now and will be in the UK in 2022.</p>

    <p><a href="https://github.com/jeremytarling/python-tarot">The source code to this app is here</a> - please feel free to fork or re-use, there are no license restrictions.</p> 

    <p><a href="https://twitter.com/jeremytarling">@jeremytarling</a></p>

{% endblock %}