{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-md-4">
    <img src="/static/{{ card.image }}" class="card {{ "reversed" if is_reversed
    }}" />
  </div>

  <div class="col-md-8">
    <h3>{{ card.name }}{{ " (reversed)" if is_reversed }}</h3>

    <hr />

    <h4>interpretation</h4>
    <p>{{ card.desc if not is_reversed else card.rdesc }}</p>

    {% if "message" in card %}

    <h4>message</h4>
    <p><em>{{ card.message }}</em></p>

    {% endif %}
  </div>

  <p><a href="/one-card/{{ card.url }}">more about this card</a></p>
</div>

{% endblock %}
