{% extends "base.html" %} {% block content %}

<h3>Suggested further reading</h3>

<div class="row">
  <div class="col-md-8">
    {% for selection in selections %}
    <hr />
    <h4>{{ selection.tradition }}</h4>

    {% for suggestion in selection.suggestions %}
    <p>
      <strong
        ><a href="{{ suggestion.url }}">{{ suggestion.title }}</a> by {{
        suggestion.author }}</strong
      >
      <br />
      {{ suggestion.description }}
    </p>
    {% endfor %} {% endfor %}

    <hr />
    <p>back to <a href="/tarot-study">tarot study</a></p>
  </div>

  <div class="col-md-4">
    <a href="/one-card/the_fool"><img src="/static/images/00.jpeg" /></a>
  </div>
</div>
{% endblock %}
