{% extends "base.html" %}

{% block content %}

    <h2>Suggested further reading</h2>

    <hr />

    <h4>the French tradition (tarot de Marseille)</h4>

    <p><strong><a href="https://shop.watkinsbooks.com/collections/divination/products/he-marseille-tarot-revealed-by-yoav-ben-dov">The Marseille Tarot Revealed</a> by Yoav Ben-Dov</strong>
    <br />a great beginner's book, and the deck and definitions used in this website</p>

    <p><strong><a href="https://www.treadwells-london.com/product-page/seeing-the-world-jean-claude-flornoy">Seeing The World</a> by Jean Claude Flornoy</strong>
    <br />a fascinating book by the restorer of the tarots of Dodal and Noblet</p>

    <p><strong><a href="https://www.amazon.co.uk/Way-Tarot-Spiritual-Teacher-Cards/dp/1594772630">Way of Tarot: The Spiritual Teacher in the Cards</a> by  Alejandro Jodorowsky and Marianne Costa</strong>
    <br />a rich and complex interpretations of the Marseille tarot</p>

    <p><strong><a href="https://www.amazon.co.uk/Meditations-Tarot-Journey-Christian-Hermeticism/dp/1585421618">Meditations on the Tarot</a> by Victor Tomberg</strong>
    <br />a journey into Christian Hermeticism by one of its masters</p>

	<hr />

    <h4>the English tradition (Waite, Case, Crowley, etc)</h4>

    <p><strong><a href="https://shop.watkinsbooks.com/collections/divination/products/tarot-of-the-magicians-by-oswald-wirth">Tarot of the Magicians</a> by Oswald Wirth</strong>
    <br />a bridge from the French tradition to the work of the English occultists that followed</p>

    <p><strong><a href="https://www.amazon.co.uk/Pictorial-Key-Tarot-Waite/dp/0877282188">The Pictorial Key to the Tarot</a> by A. E. Waite</strong>
    <br />Arthur Waite's explanations of Pamela Coleman Smith's tarot deck</p>

    <p><strong><a href="https://www.amazon.co.uk/Tarot-Wisdom-Paul-Foster-Case/dp/1585424919">The Tarot: A Key to the Wisdom of the Ages</a> by Paul Foster Case</strong>
    <br />Paul Case's reworking of the Waite-Smith deck with deeper Qabalistic insights</p>

    <p><strong><a href="https://www.treadwells-london.com/product-page/the-book-of-thoth-aleister-crowley">The Book of Thoth</a> by Alesiter Crowley</strong>
    <br />Crowley's magnum opus, a detailed exposition of the re-imagining of the tarot by Freida Harris</p>

{% endblock %}
