{% extends "base.html" %}
{% block content %}

<div class="row">

	<div class="col-md-4">

	    <img src="/static/{{ card.image }}" class="card" />

	</div>

	<div class="col-md-8">

		<h3>{{ card.name }}</h3>

		<hr />

		<h4>interpretation</h4>
		<p>{{ card.desc }}</p>

		{% if "message" in card %}

		    <h4>message</h4>
			<p><em>{{ card.message }}</em></p>

		{% endif %}

		<h4>if reversed</h4>
		<p>{{ card.rdesc }}</p>

		<hr />

		<h4>hermetic correspondences</h4>

		<p><em>qabalah</em>: {{ qabalah|safe }}</p>

		{% if "hebrew_letter" in card %}
			<p><em>hebrew letter</em>: <span style="font-family: 'Noto Serif Hebrew'">{{ card.hebrew_letter|safe }}</span></p>
		{% endif %}

		{% if "meditation" in card %}

			<p><em>meditation</em>: <br />
			<span style="white-space: pre">{{ card.meditation }}<span></p>
				
		{% endif %}

		<hr />

		{% if previous_card %}
			<p><a href="{{ previous_card.url }}">previous card</a>
		{% endif %}
		&nbsp;||&nbsp;
		{% if next_card %}
			<p><a href="{{ next_card.url }}">next card</a></p>
		{% endif %}

	</div>

</div>

{% endblock %}