{% extends "base.html" %}
{% block content %}
<div class="row">	
	<div class="col-md-12">
	    <h3>{{ name }}</h3>
	    {% if cardtype == "major": %}
		    <p>{{ meaning }}</p>
		    <p><strong>message:</strong> <em>{{ message }}</em></p>
		   	<p><strong>reversed meaning:</strong> {{ reversed_meaning }}</p>
		{% else %}
		    <p>{{ meaning }}</p>
		   	<p><strong>reversed meaning:</strong> {{ reversed_meaning }}</p>
		{% endif %}
	    <img src="/static/{{ image }}" />
		<p><a href="{{ previous }}">previous card</a> || <a href="{{ next }}">next card</a></p>
	</div>
</div>
{% endblock %}