{% extends "base.html" %}
{% block content %}

<div class="row">

	<div class="col-md-4">

	    <img src="/static/{{ image }}" style="padding-top:25px" />

	</div>

	<div class="col-md-8">

		<h3>{{ name }}</h3>

		<hr />

		<h4>interpretation</h4>
		<p>{{ meaning }}</p>

		{% if cardtype == "major": %}

		    <h4>message</h4>
			<p><em>{{ message }}</em></p>

		{% endif %}

		<h4>if reversed</h4>
		<p>{{ reversed_meaning }}</p>

		<hr />

		<h4>hermetic correspondences</h4>

		{% if cardtype == "major": %}

			<p>hebrew letter: <span style="font-size: large">{{ hebrew_letter|safe }}</span></p>

		{% endif %}

		<p>occult title: {{ occult_title }}</p>

		<p>qabalah: {{ qabalah|safe }}</p>

		<hr />

		<p><a href="{{ previous }}">previous card</a> || <a href="{{ next }}">next card</a></p>

	</div>

</div>

{% endblock %}