{% extends "base.html" %}

{% block content %}

    <h3>tarot study</h3>

    <p>There's a huge amount of literature about the tarot, from its history to its use for divination to its use for ritual magic. All of these can be interesting and valuable depending upon where you are on your journey. I've put together a short list of the books that I have found useful <a href="/reading-list">here</a>.</p>
    
    <p>But the first thing is to get your own tarot deck if you don't have one already. There are many available and choice is really a personal one - what works for you? My journey started with <a href="https://en.wikipedia.org/wiki/Rider%E2%80%93Waite_tarot_deck" target="_new">Waite-Smith</a>, then Paul Case's <a href="https://en.wikipedia.org/wiki/B.O.T.A._tarot_deck" target="_new">B.O.T.A. version</a>, then <a href="https://en.wikipedia.org/wiki/Thoth_tarot_deck" target="_new">Crowley and Harris's epic deck</a>. These days I've gone back to basics with the Marseille tarot - specifically the late Jean-Claude Flornoy's restoration of the tarot of <a href="https://gallica.bnf.fr/ark:/12148/btv1b10537343h" target="new">Jean Dodal</a> - the card images used on this website. You can get this deck from the <a href="https://tarot-history.com/tarot-of-jean-dodal/" target="new">Tarot History website</a>.</p>
    
    <p>I suggest that you start by simply looking at each card. Take your time. Lay the cards out in rows and columns, by suits and by numbers, and look for relationships. Allow each image to become a part of you, to live in your consciousness.</p>

    <h3 style="color:green">trumps (or majors, keys, atus)</h3>
    <p>some say the journey of <a href="/one-card/the_fool">Le Fol</a> (The Fool)</p>
    <ol>
        <li><a href="/one-card/the_magician">Le Bateleur</a> (literally The Fool, but more usually The Juggler or The Magician)</li>
        <li><a href="/one-card/the_popess">La Pances</a> (The Popess, later The High Priestess)</li>
        <li><a href="/one-card/the_empress">Imperatris</a> (The Empress)</li>
        <li><a href="/one-card/the_emperor">Lempereur</a> (The Emperor)</li>
        <li><a href="/one-card/the_pope">Lepape</a> (The Pope, later The Hierophant)</li>
        <li><a href="/one-card/the_lover">La moureu</a> (The Lover, later The Lovers)</li>
        <li><a href="/one-card/the_chariot">Le Charior</a> (The Chariot)</li>
        <li><a href="/one-card/justice">Justice</a> (Justice)</li>
        <li><a href="/one-card/the_hermit">Lermite</a> (The Hermit)</li>
        <li><a href="/one-card/the_wheel_of_fortune">La Roue de Fortun</a> (The Wheel of Fortune)</li>
        <li><a href="/one-card/strength">Force</a> (Strength)</li>
        <li><a href="/one-card/the_hanged_man">Le Pandu</a> (The Hanged Man)</a></li>
        <li><a href="/one-card/13">13</a> (the arcanum with no name, but Death in some decks)</li>
        <li><a href="/one-card/temperance">Temperance</a> (Temperance)</li>
        <li><a href="/one-card/the_devil">Le Diable</a> (The Devil)</li>
        <li><a href="/one-card/the_house_of_god">La Maison Dieu</a> (The House of God, later The Tower)</li>
        <li><a href="/one-card/the_star">Le toille</a> (The Star)</li>
        <li><a href="/one-card/the_moon">La Lune</a> (The Moon)</li>
        <li><a href="/one-card/the_sun">Le Soleil</a> (The Sun)</li>
        <li><a href="/one-card/judgement">Lejugement</a> (Judgement)</li>
        <li><a href="/one-card/the_world">Lemonde</a> (The World)</li>
    </ol>

    <h3>clubs (or wands)</h3>
    <p>the creative urge - desire, ambition and striving</p>
    <ul>
        <li><a href="/one-card/king_of_clubs">King of Clubs</a> - maturity in managing desires</li>
        <li><a href="/one-card/queen_of_clubs">Queen of Clubs</a> - a strong feminine personality</li>
        <li><a href="/one-card/knight_of_clubs">Knight of Clubs</a> - a change of direction</li>
        <li><a href="/one-card/page_of_clubs">Page of Clubs</a> - a creative potential</li>
    </ul>
    <ul>
        <li><a href="/one-card/ace_of_clubs">Ace of Clubs</a> - creativity</li>
        <li><a href="/one-card/two_of_clubs">Two of Clubs</a> - crossroads</li> 
        <li><a href="/one-card/three_of_clubs">Three of Clubs</a> - moving forward</li>
        <li><a href="/one-card/four_of_clubs">Four of Clubs</a> - stalemate</li>
        <li><a href="/one-card/five_of_clubs">Five of Clubs</a> - overcoming</li>
        <li><a href="/one-card/six_of_clubs">Six of Clubs</a> - collaboration</li>
        <li><a href="/one-card/seven_of_clubs">Seven of Clubs</a> - struggle</li>
        <li><a href="/one-card/eight_of_clubs">Eight of Clubs</a> - regulation</li>
        <li><a href="/one-card/nine_of_clubs">Nine of Clubs</a> - interruption</li>
        <li><a href="/one-card/ten_of_clubs">Ten of Clubs</a> - loyalty</li>
    </ul>

    <h3 style="color:red">cups (or hearts)</h3>
    <p>the heart - emotional and spiritual life</p>
    <ul>
        <li><a href="/one-card/king_of_cups">King of Cups</a> - emotional maturity</li>
        <li><a href="/one-card/queen_of_cups">Queen of Cups</a> - a rich inner (hidden) world</li>
        <li><a href="/one-card/knight_of_cups">Knight of Cups</a> - a romantic gesture</li>
        <li><a href="/one-card/page_of_cups">Page of Cups</a> - first (unsure) steps in a romantic endeavour</li>
    </ul>
    <ul>
        <li><a href="/one-card/ace_of_cups">Ace of Cups</a> - love</li>
        <li><a href="/one-card/two_of_cups">Two of Cups</a> - partnership</li>
        <li><a href="/one-card/three_of_cups">Three of Cups</a> - birth</li>
        <li><a href="/one-card/four_of_cups">Four of Cups</a> - family</li>
        <li><a href="/one-card/five_of_cups">Five of Cups</a> - sociability</li>
        <li><a href="/one-card/six_of_cups">Six of Cups</a> - continuity</li>
        <li><a href="/one-card/seven_of_cups">Seven of Cups</a> - individuality</li>
        <li><a href="/one-card/eight_of_cups">Eight of Cups</a> - group involvement</li>
        <li><a href="/one-card/nine_of_cups">Nine of Cups</a> - group harmony</li>
        <li><a href="/one-card/ten_of_cups">Ten of Cups</a> - leadership</li>
    </ul>

    <h3>swords (or spades)</h3>
    <p>the mind - intellect, division and confrontation</p>
    <ul>
        <li><a href="/one-card/king_of_swords">King of Swords</a> - determination to break from the past</li>
        <li><a href="/one-card/queen_of_swords">Queen of Swords</a> - a secure and protected position</li>
        <li><a href="/one-card/knight_of_swords">Knight of Swords</a> - energy and resources to advance</li>
        <li><a href="/one-card/page_of_swords">Page of Swords</a> - preparation for future challenge</li>
    </ul>
    <ul>
        <li><a href="/one-card/ace_of_swords">Ace of Swords</a> - intellect</li>
        <li><a href="/one-card/two_of_swords">Two of Swords</a> - boundaries</li>
        <li><a href="/one-card/three_of_swords">Three of Swords</a> - victory</li>
        <li><a href="/one-card/four_of_swords">Four of Swords</a> - restriction</li>
        <li><a href="/one-card/five_of_swords">Five of Swords</a> - breakthrough</li>
        <li><a href="/one-card/six_of_swords">Six of Swords</a> - adaptation</li>
        <li><a href="/one-card/seven_of_swords">Seven of Swords</a> - concentration</li>
        <li><a href="/one-card/eight_of_swords">Eight of Swords</a> - defenses</li>
        <li><a href="/one-card/nine_of_swords">Nine of Swords</a> - courage</li>
        <li><a href="/one-card/ten_of_swords">Ten of Swords</a> - exhaustion</li>
    </ul>

    <h3 style="color:red">coins (or disks, pentacles, diamonds)</h3>
    <p>the body - material matters, money and work</p>
    <ul>
        <li><a href="/one-card/king_of_coins">King of Coins</a> - confidence and security</li>
        <li><a href="/one-card/queen_of_coins">Queen of Coins</a> - material and personal stability</li>
        <li><a href="/one-card/knight_of_coins">Knight of Coins</a> - advancing in a practical matter</li>
        <li><a href="/one-card/page_of_coins">Page of Coins</a> - a practical endeavour</li>
    </ul>
    <ul>
        <li><a href="/one-card/ace_of_coins">Ace of Coins</a> - beginning</li>
        <li><a href="/one-card/two_of_coins">Two of Coins</a> - duality</li>
        <li><a href="/one-card/three_of_coins">Three of Coins</a> - product</li>
        <li><a href="/one-card/four_of_coins">Four of Coins</a> - stability</li>
        <li><a href="/one-card/five_of_coins">Five of Coins</a> - disruption</li>
        <li><a href="/one-card/six_of_coins">Six of Coins</a> - expansion</li>
        <li><a href="/one-card/seven_of_coins">Seven of Coins</a> - acceptance</li>
        <li><a href="/one-card/eight_of_coins">Eight of Coins</a> - uniformity</li>
        <li><a href="/one-card/nine_of_coins">Nine of Coins</a> - motivation</li>
        <li><a href="/one-card/ten_of_coins">Ten of Coins</a> - abundance</li>
    </ul>

{% endblock %}
