{% extends "base.html" %}

{% block content %}

<div class="row">	

	{% for card in hand %}

		{% if card[1]: %}

		  	<div class="col-md-4">
			    <h3>{{ card[0].name }} - reversed</h3>
		    	<p><strong>meaning:</strong> {{ card[0].rdesc }}</p>
		    	<img src="/static/{{ card[0].image }}" style="transform: rotate(180deg)" />
	    	</div>

   		{% else %}

		  	<div class="col-md-4">
			    <h3>{{ card[0].name }}</h3>
		    	<p><strong>meaning:</strong> {{ card[0].desc }}</p>
		    	<img src="/static/{{ card[0].image }}" />
	    	</div>

		{% endif %}

    {% endfor %}

</div>

{% endblock %}