{% extends "base.html" %}

{% block content %}

<div class="row">	

	{% for card in hand %}

		{% if card[1]: %}

		  	<div class="col-md-4">

		    	<img src="/static/{{ card[0].image }}" style="transform: rotate(180deg); padding-bottom: 25px" />

				<h3>{{ card[0].name }} reversed</h3>

				<hr />

		   		<h4>interpretation</h4>

				<p>{{ card[0].rdesc }}</p>

				<p><a href="/one-card/{{ card[0].url }}">more about this card</a></p>

	    	</div>

   		{% else %}

		  	<div class="col-md-4">

		    	<img src="/static/{{ card[0].image }}" style="padding-top:25px" />

				<h3>{{ card[0].name }}</h3>

				<hr />

		   		<h4>interpretation</h4>

		    	<p>{{ card[0].desc }}</p>

		    	{% if card[0].card_type == "major": %}

					<h4>message</h4>

					<p><em>{{ card[0].message }}</em></p>

				{% endif %}

				<p><a href="/one-card/{{ card[0].url }}">more about this card</a></p>

	    	</div>

		{% endif %}

    {% endfor %}

</div>

{% endblock %}